body{
background-color:#FFE4E1}
h1{color:#CD5C5C}
body {
 background-image: url("014.jpg");

}
hr{
/* background-color:white; */
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 50%
}
